body{
    background-color: white;
    background-image: url("images/silverware.jpg");
    color:#404040;
    font-size: 11pt;
    font-family: Georgia,Garamond,serif;
}

h1{
    color: #A4A400;
    background-color:rgb(247, 245, 242);
    font-family:'Lucida Sans Unicode',Helvetica,Arial,sans-serif;
    text-align: left;
    font-size:18pt;
    font-style:normal;
    text-decoration: underline;
    
}
#mainHead{
    text-align: center;
    font-size: 22pt;
    font-weight:bold;
}
link{
    color:#A4A400
}
#CopyrightMonoSpace{
    font-family:monospace; 
}
ul{
    list-style-image: url(images/pie_icon.gif);

}
.colorComment{
    background-color:#FFFFA8;
    font-style: italic;
}
#makeAlignRight{
    text-align: right;
}



