/* I am making border for the entire body and color border */
body{
    
    border:15px solid;
    border-color:#009900; /* Green */
   
}
/* border for victoia's.. and so fresh... headings */
#victoriaAndSo{    
    border: red 6px solid;
    
}
/* border for the grandChild of victoria.. and so fresh.. */
#victoriaAndSo h2{
    border:orange 6px solid;
}
/* borderFor Spatulas and cookie Monster */
.spatulasAndCookie{
    border : blue 6px solid  ;
}
.theDate{
    border:purple 6px solid  ;
}
#paddingImage{
    margin: 65px;
}

