/* the entire html style */
html{
    background-image:url("http://mumstudents.org/cs472/2019-07-RS/Labs/2/background.gif") ;
    margin-left: 10%;
    margin-right: 10%;
}

/* I am making border for the entire body and color border */
body{
    
    border:10px solid white;
    /* border-color:#009900;  */
    background-color: white;
}
/* border for victoia's.. and so fresh... headings */
#victoriaAndSo{ 
    background-color:#A8F0F0;   
    border:none;
    text-align: right;
    
}
/* floating the images to the right */
.imageFloat{
float:right;
}
/* friendList style and round radius */
#friendsDiv{
    border: 5px solid #209697;
    background-color: rgb(117, 211, 211);
    width: 16%;
    float: left;
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 300px;
    align-content:flex-start;
    /* Google to find out how to
    make the roundedness be elliptical, solution */
    /* -webkit-border-radius: 40px/10px ;
    border-radius: 40px/10px;  */

    
}

/* border for the grandChild of victoria.. and so fresh.. */
#victoriaAndSo h2{
    border:none;
    font-size: 14pt;
}
/* borderFor Spatulas and cookie Monster */
.spatulasAndCookie{
    border :#C2E9E9 4px solid  ;
    background-color: #E8FBFB;
    margin-top: 10px;
    padding: 5px;
    overflow: auto;
    border-radius: 15px;
}
/* format only to the date given */
.theDate{
    border-bottom:blue 2px dashed  ;

}


