body{
    background: url("images/background.png");
    font-size: 8pt; 
    font-family: Verdana, Tahoma, sans-serif  ;
    margin: none;
    padding: none;
   
}
#theBanner{    
    /* box-align: center; todo...*/
    background: url("images/bannerbg.png");
    background-repeat:repeat-x; 
}
/* todo later theHeader */
#theHeader{
       
    font-size: 24pt;
    font-weight: bold;
    font-family: Verdana, Tahoma, sans-serif  ;
    text-shadow:3px,3px,#999999;
   
  
  
}
#alignCenter{
    /* todo */
   /* align-content: center;
   justify-content:  center; */
   margin-left: 20%;
   margin-right: 20%;

}
#overall_content_area{
    
/* width: 50%; */
/* align-content: center; */
border:4px gray solid;
border-radius: 20px;
overflow: auto;
column-gap: 2em;


}

#ImageRate {
 background:url("images/rbg.png") ;
 background-repeat:repeat-x;
 
 /* height: 33px; */
}
#rate{
   font-size:48pt;
   color: red;  
   font-weight: bold; 
}
#theReview{
float: right;

 
}
#theReview dl{
    background-color:#A2B964;
    width: 250px;
}
/* multicolomuns */
#critics_reviews{
    column-count: 2;
    column-gap: 2em;
    width: 600px;
}

/* critics_reviews right side */
#critics_reviews_2{
    float: right;
   
    
}
.quotes{
    font-size: 8pt;
    font-weight: bold;
    background-color:  #E8DC9B;
    border-color: gray;
    border-radius: 10px;
    border-width: 2px;
    column-gap:8px; 
     
   

}

